{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block pagecss %}
    <script src="http://localhost:5000/pspdfkit.js"></script>
        <link href="{% static 'main/plugins/gritter/css/jquery.gritter.css'%}" rel="stylesheet" />

{% endblock %}

{% block super_container %}
<div class="row">
    <div class="col-lg-3">
        <a href="{% url "applications:list" %}" class="btn btn-link">Go Back</a>
    </div>
    <div class="col-lg-9 text-right p-10">
    <a href="#modal-list-question"  class="btn btn-default m-r-5" data-toggle="modal">Question Bank</a>
        <a href="#modal-request-answer" class="btn btn-default m-r-5" data-toggle="modal">Request Answer</a>
    <a href="javascript:;" data-click="swal-success" class="btn btn-success m-r-5">Send for Review </a>

    </div>
</div>
<!-- 2. Element where PSPDFKit will be mounted. -->
<div id="pspdfkit" style="width: 100%; height: 100%;"></div>

<!-- 3. Initialize PSPDFKit. -->
<script>
    PSPDFKit.load({
        container: "#pspdfkit",
        documentId: "{{ document }}",
        authPayload: { jwt: "{{token}}" },
        instant: true
    })
        .then(function(instance) {
            console.log("PSPDFKit loaded", instance);
        })
        .catch(function(error) {
            console.error(error.message);
        });
</script>
<div class="modal fade" id="modal-list-question" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Question Bank</h4>
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            </div>
            <div class="modal-body">
                <div class="row m-b-40" >
                    <div class="col-lg-6">
                        <input type="email" class="form-control m-b-5" placeholder="Search for questions">
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-12">

                        <div class="panel panel-inverse" data-sortable-id="index-8">

                            <div class="panel-body p-0">
                                <table class="table table-valign-middle">
                                    <thead>

                                    </thead>
                                    <tbody>

                            {% for q in questions %}
                                <tr>
                                <td>
                                    <div>
                                        <div ><h6>{{ q.title }}</h6></div>
                                        <div class="m-t-5">
                                            {% for c in q.tag %}
                                                <span class="label label-success">{{ c }}</span>
                                            {% endfor %}

                                        </div>
                                    <p class="m-t-5">
                                        {{ q.answer }}
                                    </p>
                                    </div>
                                    <div class="m-t-5">
                                        <span class="m-r-10">Last Edit: <strong>{{ q.updated_at |naturaltime }}</strong></span>
                                        <span class="m-r-10">Created: <strong>{{ q.created_at | naturaltime }}</strong></span>
                                        <span class="m-r-10">Created By: <strong>{{ q.created_by.full_name }}</strong></span>
                                    </div>
                                </td>
                                <td>
                                    <a   data-clipboard-text="{{ q.answer }}" class=" copy btn btn-default m-r-5 m-b-5" >
                                                Copy Answer
                                                <i class="fa fa-fw  fa-fw fa-copy"></i>
                                            </a>
                                </td>
                            </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No question added</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-request-answer" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request Answer</h4>
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label>User</label>
                        <select class="form-control">
                            <option>--Select User---</option>
                            <option>Cassie</option>
                            <option>Brandon</option>
                            <option>Jaxon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-success" id="send" data-dismiss="modal">Send</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagejs %}

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'main/js/apps.min.js'%}"></script>
<script src="{% static 'main/plugins/gritter/js/jquery.gritter.js'%}"></script>
<script src="{% static 'main/plugins/bootstrap-sweetalert/sweetalert.min.js'%}"></script>
{#<script src="{% static 'main/js/demo/ui-modal-notification.demo.min.js'%}"></script>#}
<script src="{% static 'main/js/demo/ui-modal-notification.demo.min.js'%}"></script>
    <script src="{% static 'main/plugins/clipboard/clipboard.min.js' %}"></script>
	<script src="{% static 'main/js/demo/form-plugins.demo.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        Notification.init();
        FormPlugins.init();

    });
</script>
{% endblock %}