<div class="form-wrapper">
    {{ form.non_field_errors|safe }}
                <form method="post" action="{% url "accounts:login" %}">
                    {%  csrf_token %}
                  <div class="form-group">
                    <input
                      type="email"
                      name="login"
                      value="{{ form.login.value|default_if_none:'' }}"
                      class="form-control"
                      placeholder="Email">
                      {{ form.login.errors |safe}}
                  </div>

                  <div class="form-group" id="password-div">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Password">
                      <span class="eye-view">
                        <!-- <i class="far fa-eye"></i> -->
                        <i class="far fa-eye-slash"></i>
                      </span>
                      {{ form.password.errors | safe }}
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label class="form-check-label" for="remember">Remember me</label>
                    <a href="#" class="float-right">Forget password?</a>
                  </div>
                    {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block wone-btn log-btn">Sign in</button>
                  </div>

                </form>
{#                <div class="row custom-pad">#}
{#                  <div class="divider-line"><span>Or</span></div>#}
{#                </div>#}
                <div class="row custom-pad">
{#                  <div class="col-sm-12 col-md-12 col-lg-12">#}
{#                    <button class="social-btn">#}
{#                      <span>#}
{#                        <i class="fab fa-facebook-f"></i>#}
{#                        <!-- <i class="facebook-icon"></i> -->#}
{#                      </span>#}
{##}
{#                      Login with facebook#}
{#                    </button>#}
{#                  </div>#}
{#                  <div class="col-sm-12 col-md-12 col-lg-12">#}
{##}
{#                    <button class="social-btn">#}
{#                      <span>#}
{#                        <!-- <i class="google-icon"></i> -->#}
{#                        <i class="fab fa-google"></i>#}
{#                      </span>#}
{#                      Login with Google#}
{#                    </button>#}
{#                  </div>#}
                </div>
                <div class="row custom-pad">
                  <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up here</a></p>
                </div>
              </div>