{% load static %}

<div class="form-wrapper">
            <div>
                {{ form.non_field_errors |safe }}
            </div>
                <form method="post" action="{%  url "accounts:signup" %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                  <div class="form-group">
                    <input
                      type="text"
                      name="full_name"
                      value="{{ form.full_name.value|default_if_none:'' }}"
                      class="form-control"
                      placeholder="Full Name">
                  </div>
                {{ form.first_name.errors |safe}}
                  <div class="row">
                    <div class="form-group col-sm-4 col-md-3 col-lg-3 p-r-0">
                      <div class="selector">
                        <div class="view-flag" id="wone_country">
{#                          <img src="{% static "guest/assets/img/nigeria.svg" %}" alt="flag">#}
                        </div>
                        <!-- <div class="view-listing"></div> -->
                      </div>
                    </div>
                      <input type="hidden" id="wone_country_code" name="country" value="NG">

                    <div class="form-group col-sm-8 col-md-9 col-lg-9">
                      <input
                        type="tel"
                        class="form-control"
                        name="phone"
                        value="{{ form.phone.value|default_if_none:'' }}"
                        placeholder="PhoneNumber">
                    </div>
                      {{ form.phone.errors |safe}}
                      {{ form.country.errors |safe}}
                  </div>
                  <div class="">
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          class="form-control"
                          value="{{ form.email.value|default_if_none:'' }}"
                          placeholder="Email">
                      </div>
                      {{ form.email.errors |safe}}
                    </div>
                  <div class="form-group" id="password-div">
                    <input
                      type="password"
                      class="form-control"
                      name="password1"
                      placeholder="Password">
                      <span class="eye-view">
                        <!-- <i class="far fa-eye"></i> -->
                        <i class="far fa-eye-slash"></i>
                      </span>
                  </div>
                    {{ form.password1.errors |safe}}

                  <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary btn-block wone-btn log-btn">Sign up</button>
                  </div>
                </form>
                <div class="row custom-pad">
                  <div class="divider-line"><span>Or</span></div>
                </div>
{#                <div class="row custom-pad">#}
{#                  <div class="col-sm-12 col-md-12 col-lg-12">#}
{#                    <button class="social-btn">#}
{#                      <span>#}
{#                        <i class="fab fa-facebook-f"></i>#}
{#                        <!-- <i class="facebook-icon"></i> -->#}
{#                      </span>#}
{##}
{#                      Login with facebook#}
{#                    </button>#}
{#                  </div>#}
{#                  <div class="col-sm-12 col-md-12 col-lg-12">#}
{##}
{#                    <button class="social-btn">#}
{#                      <span>#}
{#                        <!-- <i class="google-icon"></i> -->#}
{#                        <i class="fab fa-google"></i>#}
{#                      </span>#}
{#                      Login with Google#}
{#                    </button>#}
{#                  </div>#}
{#                </div>#}
                <div class="row custom-pad">
                  <p>Do you have an account? <a href="{% url "accounts:login" %}">Sign in here</a></p>
                </div>
              </div>