{%  load static  %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{%  block title %} iBank Nigeria {%  endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    {%  block meta %}
	    <meta content="" name="description" />
    {% endblock %}
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{%  static 'accounts/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{%  static 'accounts/plugins/bootstrap/4.0.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{%  static 'accounts/plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{%  static 'accounts/plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{%  static 'accounts/css/default/style.css' %}" rel="stylesheet" />
	<link href="{%  static 'accounts/css/default/style-responsive.min.css' %}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{%  static 'accounts/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>

<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	   {% block content %}

        {% endblock %}
	</div>
	<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
	<script src="{%  static 'accounts/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{%  static 'accounts/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{%  static 'accounts/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{%  static 'accounts/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{%  static 'accounts/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{%  static 'accounts/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{%  static 'accounts/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{%  static 'accounts/plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{%  static 'accounts/js/theme/default.min.js' %}"></script>
	<script src="{%  static 'accounts/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>