{%  extends 'main/full_base.html' %}
{%  load static %}
{% load i18n %}
{#{% load account %}#}

{% block title %}{% trans "FunBox - Login" %}{% endblock %}
{%  block header %}
    {% include "guest/partials/header.html" with type="login-signup" %}
{% endblock %}
{%  block content %}

	<div class="login-cover">
	    <div class="login-cover-image" style="background-image: url({%  static 'main/img/welcome.jpg' %})" data-id="login-cover-image"></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="" style="width: 120px">
                        <img src="{%  static 'main/img/logo.png' %}" width="120px">
                    </span> 
{#                    <small>Welcome to Mount Pearl</small>#}
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <!-- end brand -->
            <!-- begin login-content -->
            <div class="login-content">
                {{ form.non_field_errors|safe }}
                <form method="post" action="{% url "accounts:login" %}" class="margin-bottom-0">
                    {%  csrf_token %}
                    <div class="form-group m-b-20">
                        <input
                                type="email"
                                  name="login"
                                  value="{{ form.login.value|default_if_none:'' }}"

                                  {{ form.login.errors |safe}}
                                    class="form-control form-control-lg" placeholder="Email Address" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" required />
                    </div>
                    <div class="checkbox checkbox-css m-b-20">
                        <input type="checkbox" id="remember_checkbox" />
                        <label for="remember_checkbox">
                        	Remember Me
                        </label>
                    </div>
                    <div class="login-buttons">
                       <a href="{% url 'main:dashboard' %}" style=" background: #f88920;
    border-color: #f88920;"><button   style=" background: #f88920;
    border-color: #f88920;type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button></a>
                    </div>

                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->


        <!-- end theme-panel -->
	</div>
	<!-- end page container -->
{%  endblock %}
{%  block pagejs %}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'main/js/demo/login-v2.demo.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
{% endblock %}
