{%  extends 'guest/base.html' %}
{%  load static %}
{% load i18n %}
{#{% load account %}#}

{% block title %}{% trans "Wonesupport - Register" %}{% endblock %}
{%  block header %}
    {% include "guest/partials/header.html" with type="login-signup" %}
{% endblock %}
{%  block other_style %}
<link rel="stylesheet" href="{% static 'guest/assets/country-select-js/build/css/countrySelect.min.css' %}">
{% endblock %}

{% block content %}
    <style>
    .log_landing .content-wrapper .form-phase .form-content {
    margin: 10% 65px 5%;
}
</style>

   <main class="wonesupport-land-main">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6 form-phase">
            <div class="form-content">
              <div class="header-content">
                <h3>Welcome back</h3>
                <p>Sign in and get all the support you need</p>
              </div>
              {% include 'accounts/partials/signup-form.html'  with form=form %}
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6 globe-phase">
            <div class="globe-map">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

      <div class="et-modal-view entry-modal modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-logo">
                <img src="./assets/img/wonesupport-logo.svg" alt="wone-support-logo">
              </div>
              <h5>Registration Successful</h5>
              <p>Your Sign up is now completed. Now start enjoying our services</p>
              <button type="button" class="btn btn-primary wone-btn et-modal-btn" data-dismiss="modal">Get Started</button>
            </div>
          </div>
        </div>
      </div>

    </main>

{% endblock %}
{% block other_script %}
    <script type="text/javascript" src="{% static 'guest/assets/country-select-js/build/js/countrySelect.min.js' %}"></script>
{% endblock %}
