{% extends "guest/base.html" %}
{% load static %}

{% block title %} Wonesupport - Activate Email {%  endblock %}

{%  block header %}
    {% include "guest/partials/header.html" with type="user" %}
{% endblock %}
{%  block content %}
    <main class="wonesupport-land-main">
      <div class="content-wrapper">
                <div class="modal-logo">
                  <img src="{% static 'guest/assets/img/wonesupport-logo.svg' %}" alt="wone-support-logo">
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="success-message">Thank you. <br> Registration Successful</p>
                  </div>
                </div>
                <div class="form-group">
                  <a  href="{% url "guest:home" %}" class="btn btn-primary btn-block wone-btn log-btn">
                      Continue
                  </a>
                </div>
              </div>
    </main>
{% endblock %}
