{% extends "main/base.html" %}
{% load static %}
{% load humanize %}


{% block pagecss %}
{% endblock %}

{% block content %}
<div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Funding</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Funding </h1>
        <!-- end page-header -->
        <div class="row m-b-40" >
            <div class="col-lg-3">
                <input type="email" class="form-control m-b-5" placeholder="Search fund">
            </div>
            <div class="col-lg-6">
                <div class="text-right">

                    <div class="btn-group m-r-5 m-b-5">
                        <a href="javascript:;" class="btn btn-default">Filter</a>
                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                        <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(86px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <li><a href="javascript:;">Most Recent</a></li>
                            <li><a href="javascript:;">Category</a></li>
                        </ul>
                    </div>
                    <a href="{% url "fund:add"  %}" class="btn btn-primary">Add New</a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-9">

                <div class="panel panel-inverse" data-sortable-id="index-8">

                    <div class="panel-body p-0">
                        <table class="table table-valign-middle">
                            <thead>
                            <tr>
                                <th>Funding Agency</th>
                                <th>Amount</th>
                                <th>Start Date</th>
                                <th>Closing Date</th>
                                <!--<th>Status</th>-->

                            </tr>
                            </thead>
                            <tbody>
                            {%  for fund in funds %}
                            <tr>
                                <td><a href="{% url "fund:view"  id=fund.id %}">{{ fund.agency }}</a></td>
                                <td>${{ fund.amount |intcomma}}</td>
                                <td>{{ fund.opening_date |  date:"m-d-Y" }}</td>
                                <td>{{ fund.closing_date | date:"m-d-Y" }}</td>
                            </tr>
                            {%  endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
{% endblock %}

{#{% block pagejs %}#}
{##}
{#{% endblock %}#}