{% extends "main/base.html" %}
{% load static %}

{% block pagecss %}
    <link href="../assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Projects</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">{{ project.name }} Milestones</h1>
        <!-- end page-header -->
        <div class="row m-b-40" >
            <div class="col-lg-3">
                <input type="email" class="form-control m-b-5" placeholder="Search">
            </div>
            <div class="col-lg-6">

                <a href="#modal-new" class="btn btn-primary" data-toggle="modal">Add Milestone</a>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-10">

                <div class="panel panel-inverse" style="background: none">

                    <div class="panel-body">
                        <div style="background: #fff">
                            <table class="table m-b-0">
                                <thead>
                                <tr>
                                    <th>Milestone Name</th>
                                    <th>Assignee</th>
                                    <th>Due date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for milestone in milestones %}
                                 <tr>
                                    <td>{{ milestone.name }}</td>
                                    <td>{{ milestone.assignee.full_name }}</td>
                                    <td>{{ milestone.due_date|date:"m-d-Y" }}</td>
                                </tr>
                                    {% empty %}
                                    <tr><td colspan="3">No milestone for this project</td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
   <div class="modal fade" id="modal-new" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
            <form action="" method="post" enctype="multipart/form-data">
            {%  csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Milestone Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control"
                                   value="{{ form.name.value }}"
                                   name="name"
                                   type="text"/>
                        </div>
                        <div class="form-group m-r-5">
                            <label class="m-r-3">Due Date</label>
                            <input class="form-control"
                                   value="{{ form.due_date.value }}"
                                   name="due_date"
                                   type="date"/>
                        </div>
                        <div class="form-group">
                            <label>Assignee</label>
                            <select class="form-control" value="{{ form.assignee.value }}"
                                   name="assignee">
                                <option>--Select User---</option>
                                {% for u in users %}
                                     <option value="{{ u.uuid }}" >{{ u.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Set Reminder
                                <small>You will be reminder before the due date</small>
                            </label>
                            <input type="tel" value="{{ form.reminder.value }}"
                                   name="reminder"
                                   class="form-control" placeholder="enter number of days">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description">{{ form.description.value }}</textarea>
                        </div>
                        <div>
                            <label>Uploading supporting document </label>
                            <input class="form-control" type="file" name="file">
                        </div>


                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-success" >Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
<script src="../assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="../assets/plugins/flot/jquery.flot.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="../assets/plugins/sparkline/jquery.sparkline.js"></script>
<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/demo/dashboard.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        Dashboard.init();
    });
</script>
{% endblock %}