{% extends "main/base.html" %}
{%  load static %}
{% block pagecss %}

	<link href="{% static 'main/plugins/jquery-jvectormap/jquery-jvectormap.css' %}" rel="stylesheet" />
	<link href="{% static 'main/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'main/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Dashboard </h1>
			<!-- end page-header -->

			<!-- begin row -->
			<div class="row">
				<div class="col-lg-4 ui-sortable">
					<div class="panel panel-inverse" data-sortable-id="index-8">
						<div class="panel-heading ui-sortable-handle">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
							<h4 class="panel-title">My Task</h4>
						</div>
						<div class="panel-body p-0">
							<table class="table table-valign-middle">
								<thead>
								<tr>
									<th>Task</th>
									<th>Due Date</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<div>Approve answer change</div>
										<label class="label label-danger">Overdue</label>
									</td>
									<td>
										10-16-2019
									</td>
								</tr>
								<tr>
									<td>
										<div>Approve answer change</div>
										<label class="label label-warning">In Progress</label>
									</td>
									<td>
										10-16-2019
									</td>
								</tr>
								<tr>
									<td>
										<div>Approve answer change</div>
										<label class="label label-success">Completed</label>
									</td>
									<td>
										10-16-2019
									</td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-5 ui-sortable">
					<div class="panel panel-inverse" data-sortable-id="index-8">
						<div class="panel-heading ui-sortable-handle">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
							<h4 class="panel-title">Funding Applications</h4>
						</div>
						<div class="panel-body p-0">
							<table class="table table-valign-middle">
								<thead>
								<tr>
									<th>Partner</th>
									<th>Assigned</th>
									<th>Due Date</th>
									<!--<th>Status</th>-->

								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<div>Funding Application 1</div>

									</td>
									<td> Jeremy Banks</td>
									<td>
										10-16-2019
										<div><label class="label label-danger">Overdue</label></div>
									</td>
								</tr>
								<tr>
									<td>
										<div>Funding Application 2</div>

									</td>
									<td> Jeremy Banks</td>
									<td>
										10-16-2019
										<div><label class="label label-success">Submitted</label></div>
									</td>
									<td>

									</td>
								</tr>
								<tr>
									<td>
										<div>Funding Application 3</div>

									</td>
									<td> Jeremy Banks</td>
									<td>
										10-16-2019
										<div><label class="label label-success">Submitted</label></div>
									</td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9 ui-sortable">
					<div class="panel panel-inverse" data-sortable-id="index-8">
						<div class="panel-heading ui-sortable-handle">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
							<h4 class="panel-title">Funnding Milestones</h4>
						</div>
						<div class="panel-body p-0">
							<table class="table table-valign-middle">
								<thead>
								<tr>
									<th>Milestone Action</th>
									<th>Project</th>
									<th>Funding</th>
									<th>DueDate</th>
									<!--<th>Status</th>-->

								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Send week6 project report to user</td>
									<td>Newtown Road Construction</td>
									<td>Newfoundland Construction Funding</td>
									<td>10-16-2019</td>
								</tr>
								<tr>
									<td>Send week6 project report to user</td>
									<td>Newtown Road Construction</td>
									<td>Newfoundland Construction Funding</td>
									<td>10-16-2019</td>
								</tr>
								<tr>
									<td>Send week6 project report to user</td>
									<td>Newtown Road Construction</td>
									<td>Newfoundland Construction Funding</td>
									<td>10-16-2019</td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
{% endblock %}
{% block pagejs %}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'main/plugins/gritter/js/jquery.gritter.js' %}"></script>
	<script src="{% static 'main/plugins/flot/jquery.flot.min.js' %}"></script>
	<script src="{% static 'main/plugins/flot/jquery.flot.time.min.js' %}"></script>
	<script src="{% static 'main/plugins/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'main/plugins/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'main/plugins/sparkline/jquery.sparkline.js' %}"></script>
	<script src="{% static 'main/plugins/jquery-jvectormap/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'main/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'main/js/demo/dashboard.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
{% endblock %}